body {
    background-color: hsl(317, 13%, 11%);
    color: hsl(0, 0%, 67%);
    font-family: monospace;
    font-size: small;
    margin: 30px 30px 30px 30px;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}