body {
    background-color: hsl(317, 13%, 11%);
    color: hsl(0, 0%, 67%);
    font-family: monospace;
    font-size: small;
    margin: 30px 30px 30px 30px;
}

:link {
    text-decoration: none;
    color: lightgrey;
}

:visited {
    color: lightgray;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

img {
    margin-left: -10px;
    margin-top: -10px;
}

.nav-bar {
    padding: 10px 10px 10px 10px;
    background-color: hsl(135, 14%, 11%);
    display: flex;
    flex-direction: column;
}